[Unit]
Description=Loki log aggregation system
After=network.target

[Service]
User: {{ user}} 
Group: {{ group }} 
ExecStart={{ loki_bin_path }} -config.file={{ loki_config_path }}
Restart=always

[Install]
WantedBy=multi-user.target
