route:
  group_by: [Alertname]
  receiver: email-me

receivers:
- name: email-me
  email_configs:
  - to: nitimarodia51296@gmail.com
    from: itsmeshantanuchauhan@gmail.com
    smarthost: smtp.gmail.com:587
    auth_username: "itsmeshantanuchauhan@gmail.com"
    auth_identity: "itsmeshantanuchauhan@gmail.com"
    auth_password: "P@55w0rd@6484"